.bookFavoritesContainer {
    h1 {
        text-transform: uppercase;
        font-weight: 400;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    
    // height: 92vh;

    height: 65vh;
    width: 100%;
    overflow-y: auto;
}

.bookFavoritesList {
    display: flex;
    flex-wrap: wrap;

    width: 50%;

    justify-content: space-evenly;
}

@media (min-width: 992px) {
    .bookFavoritesContainer {
        height: 92vh;
    }
}