.homeContainer {
  width: 100vw;
  height: 92vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: url("../public/book-bg-10.png");

  form {
    width: 80%;
  }

  img {
    width: 60%;
    margin: 4rem 0rem 1.4rem 0rem;
  }
}

@media (min-width: 992px) {
  .homeContainer {
    justify-content: center;

    form {
      width: 50%;
    }

    img {
      width: auto;
    }
  }
}